<launch>
  <arg name="serial_port" default="/dev/ttyUSB2"/>

  <node pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node">
    <param name="serial_port" type="string" value="$(arg serial_port)" />
    <param name="baud_rate" type="int" value="115200" />
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTFmini" args="0 0 0 0 0 0 base_link TFmini 100" />
</launch>
