<?xml version="1.0"?>

<launch>

    <param name="/use_sim_time" value="false"/>

    <include file="$(find my_navigation)/launch/hector_imu_xtdrone.launch"/>

    <include file="$(find my_navigation)/launch/hector_mapping_xtdrone.launch"/>

    <node pkg="my_navigation" type="laser_transfer.py" name="laser_transfer" />
    
</launch>